a {
    text-decoration: none;
}

.jumbotron {
    background-image: url(../images/ChristmasDecorations.jpg);
    min-height: calc( 100vh );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 0;
    margin-bottom: 0;
}


.jumbotron p {
    color: #fff;
    font-weight: 100;
    text-shadow: 0px 0px 3px #000;
    max-width: 400px;
}

.jumbotron h1, p.lead {
    color: white;
    text-shadow: 3px 3px 5px #000;
}

.no-break {
    white-space: nowrap;
}